<div id="loginContainer" style="display: none">
    <div id="loginCancelContainer" style="display: none">
        <button id="loginCancelButton">
      <div id="loginCancelIcon">X</div>
      <span id="loginCancelText">Cancel</span>
    </button>
    </div>
    <div id="loginContent">
        <form id="loginForm">
            <img id="loginImageSeal" src="assets/images/SealCircle.svg" />
            <div id="loginMSButtonGuid">↓ CLICK HERE ! ↓</div>
            <button id="loginMSButton">Microsoft Login</button>
            <div id="loginDisclaimer">
                <span class="loginSpanDim" id="loginRegisterSpan">
                  <a href="https://www.minecraft.net/en-us/store/minecraft-java-edition">
                    Need an Account?
                  </a>
                </span>
                <p class="loginDisclaimerText">
                    パスワードは直接Microsoftに送信され、保存されることはありません。
                </p>
                <p class="loginDisclaimerText">
                    沼ランチャーは Microsoftとは関係ありません。
                </p>
            </div>
        </form>
    </div>
    <script src="./assets/js/scripts/login.js"></script>
</div>